{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <label for="pizza-filter-name">Nom</label>
        <input type="search" name="name" id="pizza-filter-name">
        <button>Filtrer</button>
    </form>

    <ul>
        {% for pizza in pizzas %}
            <li>{{ pizza.name }}</li>
        {% else %}
            <li>Pas de pizza au menu ce soir.</li>
        {% endfor %}
    </ul>

    {% if pizzas | length is divisible by(3) %}{% endif %}
    {% if pizzas is not empty %}
        <ul>
            {% for pizza in pizzas %}
                <li><a href="{{ path('app_grumpypizza_show', {id: pizza.id}) }}">{{ pizza.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas de pizza au menu ce soir.</p>
    {% endif %}
{% endblock %}
