{% extends 'base.html.twig' %}

{% block title %}New PizzaExportConfig{% endblock %}

{% block body %}
    <h1>Create new PizzaExportConfig</h1>

    {{ include('pizza_export_config/_form.html.twig') }}

    <a href="{{ path('app_pizza_export_config_index') }}">back to list</a>
{% endblock %}
